@import '../../../../src/lib/components/SdElevation/mixins.scss';

%leading{
  & + p {
    font-size: 18px;
    font-weight: 300;
  }
}

article.sd--container{
  padding-bottom:40px;
}

.sd--docs{
  h1, h2, h3, h4, h5 {
    position:relative;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  
  h1 {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 300;
    @extend %leading;
  }

  h2 {
    margin-top: 32px;
    font-size: 24px;
    @extend %leading;
  }

  h3 {
    font-size: 20px;
    @extend %leading;
  }

  p{
    font-size: 16px;
  }
  blockquote {
    width: 80%;
    margin: 32px auto;
    position: relative;
    padding: 16px 16px 16px 32px;
    background-color: var(--sd-background-accent);
    border-radius: 3px;
    @include elevation(12);
    &:before{
      display:block;
      content: '';
      width: 8px;
      top: 0;
      bottom:0;
      left:0;
      position:absolute;
      background-color: var(--sd-primary);
      border-radius: 3px 0px 0px 3px;
    }
    p{
      margin-bottom:0;
    }
  }




  // ANCHORS AND LINKS
  a {
    color: var(--sd-primary); 
  }
  
  .header-anchor{
    color: var(--sd-primary);
    font-size: 16px;
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -8px;
  }

  hr {
    border: 1px solid var(--sd-divider);
    margin: 32px 0;
  }

  // TABLES
  table {
    width: 100%;
    margin-bottom: 40px;
    th {
      padding: 16px 8px;
      font-size: 14px;
    }
  
    tr {
      &:nth-child(2n + 1) {
        & > td{
          background-color: var(--sd-background-highlight)
        }
      }
      border-bottom: 1px solid var(--sd-background-highlight);
    }
    td {
      @extend th;
      font-weight: 300;
      &:first-child{
        font-weight: 700;
      }
    }
     
    code:not(pre > code){
      color: var(--sd-secondary-highlight);
    }
  }

  //MKDN NAVIGATION
  .header-anchor{
    color: var(--sd-primary);
    font-size: 16px;
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -8px;
  }

  // CODE BLOCKS
  // TODO: split this into fragments to simplify adding other lang types
  .language-html{
    position: relative;
    background-color: var(--sd-background-highlight);
    padding: 32px 16px 8px;
    margin-bottom: 24px;
    border-radius: 6px;
    @include elevation(12);
    &:before{
      content: 'HTML';
      color: var(--sd-text-accent);
      display:inline-block;
      padding: 4px 8px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 11px;
      background-color: var(--sd-background-accent); 
    }
    &:hover:before{
      color: var(--sd-primary);
      transition: color .3s ease-in-out;
    }
  }
}


// LISTS
li{
  &::marker{
    content: '- ';
  }
}


// PRISM Overides

.token{
  &.tag{
    color: var(--sd-warning-highlight);
  }
  &.attr-name{
    color: var(--sd-secondary-highlight);
  }
  &.attr-value{
    color: var(--sd-text-accent);
  }
  &.punctuation{
    color: var(--sd-text-accent);
  }
}